@import url('https://fonts.googleapis.com/css2?family=Arimo&family=EB+Garamond:ital@1&family=Oswald:wght@300&display=swap');

/* font-family: 'Arimo', sans-serif;
font-family: 'Carter One', cursive;
font-family: 'EB Garamond', serif;
font-family: 'Mate SC', serif;
font-family: 'Oswald', sans-serif;
font-family: 'Playball', cursive;
font-family: 'Special Elite', cursive;
font-family: 'Ysabeau Infant', sans-serif 
font-family: 'Tilt Prism', cursive*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif
}

.navbar{
    /* background-color: #f067ab; */
    background-color: #d63384;
    
    height: 80px;
    box-shadow: 0 0 5px #000 ;
}

.navbar-brand img{
    height: 60px;
}

.nav-link{
    color: black !important;
}

a:hover{
    color: white !important;
}

nav span{
    
    font-family: 'Playball', cursive;
}


main{
    height: 700px;
}
h1{
    padding: 10px;
    background-color: #d63384;
    text-align: center;
    margin-top: 5px;
}

.card{
    margin-bottom: 15px;
    border: 3px solid #d63384;
}

.btn{
    background-color: #d63384c4;
}

.btn:hover{
    background-color: #d63384;
    border: 2px solid #d63384;
}

h3{
    background-color: #d63384;
    padding: 10px;
    text-align: center;
}
.redes{
    display: flex;
    flex-direction: column;
    text-align: end;
}

.redes i{
    color: #d63384;
    padding: 5px;
}

.subir{
    height: 40px;
    width: 40px;
    background-color: #d63384;
    color: black;
    position: fixed;
    bottom: 40px;
    right: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 28px;
    box-shadow: 0 0 5px;
}

/* Inicio pagina contacto */
.par{
    display: flex;
    align-content: end;
    text-align: end;
}

/* Fin pagina contacto */

@media only screen and (min-width:0) and (max-width:576px) {
    .navbar-collapse{
        background-color: #d63384;
        display: flex;
        justify-content: center !important;
    }
}