@import url('https://fonts.googleapis.com/css2?family=Arimo&family=EB+Garamond:ital@1&family=Oswald:wght@300&display=swap');

/* font-family: 'Arimo', sans-serif;
font-family: 'Carter One', cursive;
font-family: 'EB Garamond', serif;
font-family: 'Mate SC', serif;
font-family: 'Oswald', sans-serif;
font-family: 'Playball', cursive;
font-family: 'Special Elite', cursive;
font-family: 'Ysabeau Infant', sans-serif 
font-family: 'Tilt Prism', cursive*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif
}

.navbar{
    /* background-color: #f067ab; */
    background-color: #d63384;
    
    height: 80px;
    box-shadow: 0 0 5px #000 ;
}

.navbar-brand img{
    height: 60px;
}

.nav-link{
    color: black !important;
}

a:hover{
    color: white !important;
}

nav span{
    
    font-family: 'Playball', cursive;
}

h1{
    padding: 10px;
    background-color: #d63384;
    text-align: center;
    margin-top: 5px;
}

h2{
    text-align: center;
}
.contenedor{
    display: grid;
    border: 3px solid #000;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 300px);
    padding: 20px;
}

.item{
    
    border: 3px solid red;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 5px #000;
    /* display: flex; */
    border-radius: 50%;
    padding: 20px;
}

.item1{
    background-image: url(multimedia/logoarcor.jpg);
    height: auto;
    width: auto;
}

.item2{
    background-image: url(multimedia/logococa.png);
}

.item3{
    background-image: url(multimedia/logofeltfort.png);
}

.item4{
    background-image: url(multimedia/logojorgito.jpeg);
}

.item5{
    background-image: url(multimedia/logomassalin.jpg);
}

.item6{
    background-image: url(multimedia/logomondelez.png);
}

.item7{
    background-image: url(multimedia/logoparnor.png);
}

.item8{
    background-image: url(multimedia/logopepsi.png);
}

.item9{
    background-image: url(multimedia/logounilever.png);
}

.btn{
    background-color: #d63384c4;
}

.btn:hover{
    background-color: #d63384;
    border: 2px solid #d63384;
}

h3{
    background-color: #d63384;
    padding: 10px;
    text-align: center;
}
.redes{
    display: flex;
    flex-direction: column;
    text-align: end;
}

.redes i{
    color: #d63384;
    padding: 5px;
}

.subir{
    height: 40px;
    width: 40px;
    background-color: #d63384;
    color: black;
    position: fixed;
    bottom: 40px;
    right: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 28px;
    box-shadow: 0 0 5px;
}

/* Inicio pagina contacto */
.nright{
    align-items: center;
    align-content: center;
}

/* Fin pagina contacto */

/* Inicio página nosotros */
.nos{
    height: 800px;
}

/* Fin página nosotros */

/* Inicio página productos */

.card{
    margin-bottom: 15px;
    border: 3px solid #d63384;
}

/* Fin página productos */

/* Inicio página trabaja */
.trab{
    height: 550px;
    /* background-image: url(multimedia/logo_transparent.png); */
    background-position: center;
    background-size: cover;
    /* filter: opacity(50%); */
}
/* Fin página trabaja */

@media only screen and (min-width:0) and (max-width:576px) {
    .navbar-collapse{
        background-color: #d63384;
        display: flex;
        justify-content: center !important;
    }
}
